body{
  background: url("../images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.card-panel{
  background-color: rgba(50, 50, 50, 0.7);
}

label{
  color: white !important;
}

button{
  margin-bottom: 15px;
}

.ubicación:hover{
  cursor: default;
}

.mapas{
  height: 40%;
  width: 40%;
  margin: auto;
}

@media (min-width: 700px) {

  .login{
    margin-top: 10%;
  }

}
